@charset "UTF-8";

body {
  font-size: 15px;
  font-family: "Noto Serif", serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}
header {
  background-color: green;

  height: 30em;
}
.header_logo a {
  font-size: 50px;
}
.header_logo a:hover {
  color: orange;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%; /* 変更 */
}

.header_logo {
  width: 40%;
  color: white;
  font-size: 5em;
  white-space: nowrap;
}

.header_nav {
  width: 70%;
}

.header_nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20%;
}

.header_nav ul li {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 0 2.5%; /* 変更 */
  border-right: solid 3px orange; /* 追加 */
}

.header_nav ul li:last-child /* 追加 */ {
  border-right: none; /* 追加 */
}

.header_nav ul li a /* 追加 */ {
  color: #fff; /* 追加 */
}

.header_nav ul li a:hover /* 追加 */ {
  color: orange; /* 追加 */
  opacity: 0.8; /* 追加 */
}
.header_sub {
  position: absolute;
  bottom: 30%;
  right: 10%;
}
.header_sub p {
  font-size: 5em;
  line-height: 1;
  color: black;
}
header .drawer {
  visibility: hidden;
}
.section {
  position: relative;
}
.inner {
  width: 80%;
  margin: 0 auto;
}

.intro {
  width: 40%;
}
.section_ttl {
  margin-bottom: 5%;
  font-size: 70px;
}

.section_ttl small {
  border-left: solid 8px green;
  padding-right: 10px;
}

.intro_txt {
  font-size: 1em;
}
.service_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_item {
  position: relative;
  width: 47.5%;
  height: 47.5%;
  overflow: hidden;
  box-shadow: 10px 10px 20px #ddd;
  margin: 10% 0;
}

.service_item._service2 {
  bottom: 15em;
}

.service_item._service3 {
  bottom: 7.5em;
  margin-bottom: 0;
}

.service_item._service4 {
  bottom: 22.5em;
  margin-bottom: 0;
}
.service_img {
  position: relative;
  width: 100%;
  height: 35em;
  z-index: -1;
}

.service_img::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 40em;
  background: #ffffff;
  transform: rotate(13deg);
  left: 45%;
  top: -2.5%;
}

.service_img._service {
  background: url(../img/service.png) no-repeat center;
  background-size: cover;
}
.service_inner_txt {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-10%, -50%);
}
.service_sub_ttl {
  font-size: 1.2em;
}

.service_ttl {
  display: inline;
  font-size: 1.75em;
  font-weight: 700;
  background: linear-gradient(transparent 80%, green);
}
.btn {
  width: 25%;
  margin: 0 auto;
  line-height: 4;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 700;
  border-radius: 60px;
}
footer {
  margin-top: 10%;
  padding: 3% 0 2%;
  background-color: green;
  color: #fff;
}
.footer_logo {
  width: 17.5%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2.5%;
  white-space: nowrap;
}
.footer_logo h2 {
  font-size: 1em;
  text-align: center;
  padding-left: 12px;
}

.footer_logo a {
  display: block;
}

.footer_logo img {
  width: 100%;
}
.footer_list {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5%;
}

.footer_item {
  padding-right: 2.5%;
  margin-right: 2.5%;
  border-right: solid 3px orange;
  font-size: 1.2em;
  line-height: 1;
}

.footer_item:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.footer_item a {
  color: #fff;
}

.footer_item a:hover {
  color: orange;
}
.footer_sns {
  margin-bottom: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_sns .sns_icon1 {
  margin-right: 2%;
}

.footer_sns .sns_icon1,
.sns_icon2 {
  transition: 0.2s;
}

.footer_sns .sns_icon1:hover,
.sns_icon2:hover {
  transition: 0.2s;
  transform: translateY(-5px);
}

.footer_sns .sns_icon1 a,
.sns_icon2,
a {
  color: #fff;
  font-size: 2.5em;
}
.footer_txt {
  display: block;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .section {
    margin: 25% 0;
  }
  .inner {
    width: 90%;
  }
  .intro {
    width: 100%;
  }
  .header_sub {
    position: absolute;
    top: 27%;
    right: 10%;
  }
  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-top: solid 4px #aaaaaa;
    cursor: pointer;
    z-index: 100;
  }

  header .drawer::before,
  header .drawer::after {
    content: "";
    display: block;
    width: 24px;
    background: #aaaaaa;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
  }

  header .drawer::before {
    top: 6px;
  }

  header .drawer::after {
    top: 15px;
  }
  header .header_nav {
    position: fixed;
    display: none;
    width: 50%;
    height: 30%;
    top: 0;
    right: 0;
    z-index: 50;
    background: black;
  }

  header .header_nav ul {
    display: block;
    padding-left: 0%;
  }

  header .header_nav ul li {
    margin: 8%;
    white-space: nowrap;
  }

  header .header_nav ul li a {
    line-height: 3;
    font-size: 1.5em;
  }

  header .header_nav ul li.contact {
    width: 30%;
  }
  body.nav-open header .drawer {
    border-top: 0;
  }

  body.nav-open header .drawer::before {
    top: 9px;
    transform: rotate(-45deg);
  }

  body.nav-open header .drawer::after {
    top: 9px;
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 480px) {
  .header_logo h1 {
    font-size: 40px;
  }
  .works_list {
    display: block !important;
  }
  .works_item {
    width: 100% !important;
  }
  .news_list {
    width: 100% !important;
    margin: 0 auto;
  }
  .news_wrapper {
    width: 100% !important;
  }
  .header_logo a {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .header_logo h1 {
    font-size: 20px;
  }
  .header_logo a {
    font-size: 20px;
  }
  .header_sub p {
    font-size: 30px;
  }
  .works_ttl {
    font-size: 30px !important;
  }
  .news_category {
    visibility: hidden;
  }
  .news_date {
    font-size: 0.9em !important;
  }
  .news_ttl {
    font-size: 0.9em !important;
  }
  .footer_item a {
    font-size: 1em;
  }
  header {
    height: 10em;
  }
  .header_sub {
    position: absolute;
    top: 17%;
    right: 0%;
  }
}
