.top {
  position: relative;
  width: 100%;
  height: 100vh;
}
.top_bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}
.top_img {
  position: relative;
  width: 100%;
  height: 100%;
}

.top_img img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
}
.about::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 35em;
  right: 0;
  z-index: -1;
  background: url(../img/about_bg.png) center/cover no-repeat;
  filter: blur(5px);
  opacity: 0.5;
}
.about .intro {
  margin-bottom: 5%;
}
.about_list {
  display: flex;
  justify-content: space-between;
}

.about_item {
  position: relative;
  width: 30%;
  height: 15em;
  z-index: 2;
  background: #ffffff;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.about_item:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out 0s;
  opacity: 0.8;
}

.about_item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
  background: url(../img/about.png) center/cover no-repeat;
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
}
.about_link {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.about_sub_ttl {
  margin-bottom: 5%;
}

.about_ttl {
  margin-bottom: 5%;
  font-size: 1.75em;
  font-weight: 700;
}
.news .section_ttl {
  margin-bottom: 5%;
}
.news_list {
  display: flex;
  justify-content: space-between;
}

.news_item {
  width: 30%;
  height: auto;
  margin-bottom: 10%;
  box-shadow: 10px 10px 20px #ddd;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.news_item:hover {
  transition: all 0.3s ease-in-out 0s;
  transform: scale(0.95);
  opacity: 0.8;
}
.news_img img {
  width: 100%;
  height: 100%;
}

.news_txt {
  padding: 0 5%;
}

.news_ttl {
  margin: 12.5% 0;
  font-size: 1.25em;
  line-height: 1;
}

.news_date {
  position: relative;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 2.5%;
}

.news_date::after {
  content: "";
  position: absolute;
  background: url(../img/arrow.png) no-repeat;
  background-size: contain;
  width: 15%;
  height: 100%;
  right: 2.5%;
  top: 50%;
}
@media screen and (max-width: 1024px) {
  .service_img {
    height: 27.5em;
  }
}
@media screen and (max-width: 768px) {
  .top_img img {
    width: 75%;
  }
  .about_item {
    height: 12.5em;
  }
  .service_img {
    height: 20em;
  }

  .service_img::after {
    content: none;
  }
  .service_inner_txt {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.85);
    padding: 2%;
    top: unset;
    transform: unset;
  }
  .service_descript {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .top_img img {
    width: 90%;
  }
  .service_list {
    display: block;
  }
  .service_item {
    width: 100%;
  }

  .service_item._service2,
  .service_item._service3,
  .service_item._service4 {
    bottom: unset;
    margin: 10% auto;
  }
  .about_list {
    display: block;
  }
  .about_item {
    width: 100%;
    margin: 10% 0;
  }
  .news_list {
    display: block;
  }
  .news_item {
    width: 100%;
  }
}
