.news .section_ttl {
  margin-bottom: 5%;
}

.news_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 追加 */
}

.news_item {
  width: 30%;
  height: auto;
  margin-bottom: 10%;
  box-shadow: 10px 10px 20px #ddd;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.news_item:hover {
  transition: all 0.3s ease-in-out 0s;
  transform: scale(0.95);
  opacity: 0.8;
}

.news_img img {
  width: 100%;
  height: 100%;
}

.news_txt {
  padding: 0 5%;
}

.news_ttl {
  margin: 12.5% 0;
  font-size: 1.25em;
  line-height: 1;
}

.news_date {
  position: relative;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 2.5%;
}
@media screen and (max-width: 480px) {
  .news_item {
    width: 100%;
  }
}
